* {
    margin: 0;
    padding: 0;
  }
  
  *, 
  ::before, 
  ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
    
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Roboto Condensed', sans-serif;
  }